# dependencies
node_modules/

# next.js
apps/admin/.next/
apps/admin/out/

# turbo
.turbo/

# build
dist/
apps/backend/dist/
apps/realtime/dist/
apps/admin/dist/
apps/admin/.turbo/
apps/admin/.next/


# env
*.env
*.env.local
*.env.production
apps/admin/.env.production
apps/admin/.env.local
apps/admin/.env
apps/backend/.env

# supabase local data
/docker/
/volumes/

# emqx runtime data
infra/docker/emqx/data/
infra/docker/emqx/log/

# supabase temp
infra/docker/supabase/.temp/
infra/docker/supabase/.branches/
infra/docker/supabase/snippets/

